.loader {
  justify-items: center;
}

/* Parent Sofa */
.sofa-parent {
  position: relative;
  animation: sofa-move-shrink 2s linear infinite;
}

@keyframes sofa-move-shrink {
  0% {
    transform: translateX(-100vw) rotate(40deg);
    opacity: 0;
  }
  0% {
    transform: translateX(-100vw) rotate(40deg);
    opacity: 0;
  }
  20% {
    transform: translateX(-50vw) rotate(35deg);
    opacity: 1;
  }
  60% {
    transform: translateX(-15vw) rotate(20deg);
  }
  80% {
    transform: translateX(-5vw) rotate(10deg);
  }
  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

.sofa-loader {
  animation: sofa-move-shrink 2s ease-out forwards;
} /* Parent Sofa */

/* Top Sofa */
.top-sofa {
  position: relative;
  width: 50px;
  height: 30px;
  background-color: #376552;
  border-radius: 20% 20% 50% 50%;
}
.top-sofa::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -7px;
  background-color: #376552;
  width: 10px;
  height: 25px;
  border-radius: 30% 30%;
  border-right: 1px solid white;
  transform: rotate(-13deg);
}
.top-sofa::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -7px;
  background-color: #376552;
  width: 10px;
  height: 25px;
  border-radius: 30% 30%;
  border-left: 1px solid white;
  transform: rotate(13deg);
}
/* Top Sofa */

/* Bottom Sofa */
.bottom-sofa {
  width: 50px;
  height: 15px;
  background-color: #376552;
  border-radius: 30% 30% 10% 10%;
  border-top: 2px solid #eee;
  position: absolute;
  top: 20px;
}
/* Bottom Sofa */

/* Text Content Loading */
.loader p {
  padding: 10px 0;
  font-family: "Courier New", Courier, monospace;
  color: black;
}
.loader p::after {
  content: "";
  animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    content: "";
  }
  40% {
    content: ".";
  }
  60% {
    content: "..";
  }
  80%,
  100% {
    content: "...";
  }
}
/* Text Content Loading */
