@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --background-secondary: #fcfcfc;
  --main-color: #376552;
  --main-color-normal: #5ba989;
  --main-color-dark: #52987b;
  --main-color-darker: #294c3e;
  --main-color-yellow: #ecae06;
  --secondary-color: #f6b70c;
  --sub-text-color: #595959;
  --border-color-light-gray: #acacac;
  --border-color-gray: #979797;
  --bd-color-gray: #c8c8c8;
  --bg-color-lighter-gray: #f3efef;
  /* --foreground: #171717; */
}

img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@layer base {
  h1,
  p {
    color: black;
  }
}
@theme inline {
  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  --font-nunito: var(--font-nunito);
  /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground: #ededed; */
  }
}

body {
  /* background: var(--background); */
  background: var(--background-secondary);
  font-family: var(--font-nunito), sans-serif;
  color: black;
  box-sizing: border-box;
}
.text-heading-1 {
  @apply font-semibold text-4xl;
}
.text-header-img {
  @apply md:w-2/4  md:absolute  bg-(--background-secondary) rounded-[29px_0];
}

@media (min-width: 767px) {
  .container-header {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* صنع المنحنى الداخلي من الأسفل */
  .top_header-content::before {
    content: "";
    background-color: transparent;
    border-top-left-radius: 50px;
    width: 55px;
    height: 142px;
    position: absolute;
    bottom: -129px;
    left: 19px;
    transform: rotate(23deg);
    box-shadow: -25px 0 var(--background-secondary); /* لون الخلفية */
  }

  /* صنع المنحنى الداخلي الصغير من جهة اليمين */
  .top_header-content::after {
    content: "";
    position: absolute;
    top: 9px;
    background-color: transparent;
    width: 62px;
    height: 141px;
    right: -59px;
    transform: rotate(26deg);
    border-top-left-radius: 50px;
    box-shadow: -25px 0 0 0 var(--background-secondary); /* لون الخلفية */
  }

  .bottom-header-content::before {
    content: "";
    width: 55px;
    height: 94px;
    box-shadow: -25px 0 var(--background-secondary);
    background-color: #0000;
    border-top-left-radius: 49px;
    position: absolute;
    bottom: -6px;
    left: -57px;
    transform: rotate(-168deg);
  }

  /* صنع المنحنى الداخلي الصغير من جهة اليمين */
  .bottom-header-content::after {
    content: "";
    background-color: transparent;
    border-top-left-radius: 50px;
    width: 62px;
    height: 145px;
    position: absolute;
    top: -139px;
    right: 13px;
    transform: rotate(-175deg);
    box-shadow: -25px 0 var(--background-secondary);
  }
}
/* Home */
/* Categories Section */
.card-category {
  @apply flex justify-between gap-4 p-6 border border-gray-200 rounded-md border-none hover:shadow-lg transition-shadow duration-300;
}
.card-category:not(:nth-child(2)) {
  @apply items-center;
}
.card-category h3 {
  @apply font-semibold text-(--main-color) text-2xl pb-4;
}
.card-category ul {
  @apply flex flex-col gap-3;
}
.card-category img {
  @apply w-1/2 md:w-auto object-contain;
}
/* End Categories Section */

/* Start Our Blog */
.card-blog {
  @apply flex flex-col min-[990px]:flex-row justify-center items-center border-(--bd-color-gray) rounded-sm p-4;
}
.card-blog img {
  @apply w-xs h-50 md:w-xl md:max-w-xl md:h-96 object-cover rounded-lg z-10 md:[clip-path:polygon(0_0,100%_0,85%_100%,0_100%)];
}
.card-blog .card-blog-content {
  @apply text-center md:text-start bg-white pr-3 border border-(--border-color-light-gray) rounded-sm md:pl-20 max-w-90 md:w-98 md:py-4 p-4 z-1 -mt-5 md:ml-[-75px];
}
.card-blog button {
  @apply mt-4 bg-(--main-color-normal) text-white py-2 px-4 rounded-sm font-semibold;
}
/* End Our Blog */
